
.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 24px;
  padding: 0 8px;
}

.tab-list {
  display: flex;
  flex-wrap: nowrap; 
  overflow-x: auto;  
  gap: 8px;
  margin-bottom: 20px;
  padding: 0 8px;
}

.tab-list::-webkit-scrollbar {
  display: none;
}
.tab-list {
  -ms-overflow-style: none; 
  scrollbar-width: none;     
}

.menu-grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 8px;
}

.food-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.2s ease;
}

.food-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.image-box {
  height: 180px;
  overflow: hidden;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.food-card:hover img {
  transform: scale(1.05);
}


.card-info {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.food-name {
  font-weight: 600;
  margin-bottom: 4px;
}

.muted {
  font-size: 0.9rem;
  color: #6b7280;
}


@media (max-width: 1024px) {
  .menu-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .menu-grid {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 480px) {
  .menu-grid {
    grid-template-columns: repeat(2, 1fr); 
  }
  
  .tab-list {
    gap: 6px;  
  }
}
