
.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 100;
}

.nav-logo img {
  height: 120px;
  cursor: pointer;
}


.nav-items-right {
  display: flex;
  align-items: center;
  gap: 20px; 
}


.nav-actions {
  display: flex; 
  align-items: center; 
  gap: 15px; 
}

.nav-links {
  display: flex;
  gap: 20px;
  transition: right 0.3s ease-in-out;
}

.nav-links a {
  text-decoration: none;
  color: #111;
  font-weight: 600;
  transition: color 0.2s ease;
}

.nav-links a:hover {
  color: #16a34a;
}

.cart-container {
  position: relative;
}

.cart-btn {
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.cart-dropdown {
  position: absolute;
  right: 0;
  top: 120%;
  width: 320px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 200;
}

.cart-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  margin-bottom: 8px;
  padding-bottom: 8px;
}

.cart-item img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  margin-right: 10px;
  object-fit: cover;
}

.cart-info {
  flex-grow: 1;
}

.cart-qty button {
  padding: 2px 6px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 2px;
}

.cart-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.cart-actions button {
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.cart-actions .clear {
  background: #f87171;
  color: #fff;
}

.cart-actions .pay {
  background: #16a34a;
  color: #fff;
}


.menu-toggle {
  display: none;
  font-size: 24px;
  background: transparent;
  border: none;
  cursor: pointer
}


@media (max-width: 768px) {
  .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 220px;
    background: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    box-shadow: -2px 0 6px rgba(0, 0, 0, 0.1);
  }

 
  .nav-links.open {
    right: 0;
  }

  .menu-toggle {
    display: block;
  }
}
